@import "variables";
@import "reset";
@import "media-query";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body{
  background: rgba(35,32,35,0.92);
}
.dark-bg{
  background: rgba(35,32,35,0.92);
}

.bg-white{
  background: white!important;
}
.color-bg{
  background: #6a3b75;
}
.user_photo{
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.watches{
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

