$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #c55964;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #3fa73b;
$teal:    #20c997;
$cyan:    #0dcaf0;
$ocean:   #69adb9;
$gren:   rgb(64, 219, 173);
$text-color:  aliceblue;
$color-icons: #d7d8d8;
$card-bg: #b7b7b8;
$font-600: 600;
$font-700: 700;

